
input[type = "radio"]:checked {
　　background:url(img/avatar04.png);
}

#copyrightcontent {
    height: 30px;
    line-height: 29px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    margin-top: -30px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-stats {
    float: left;
    width: 25%;
}

.dashboard-stats-item {
    position: relative;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    height: 105px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 20px;
}

.dashboard-stats-item .m-top-none {
    margin-top: 5px;
}

.dashboard-stats-item h2 {
    font-size: 28px;
    font-family: inherit;
    line-height: 1.1;
    font-weight: 500;
    padding-left: 70px;
}

.dashboard-stats-item h2 span {
    font-size: 12px;
    padding-left: 5px;
}

.dashboard-stats-item h5 {
    font-size: 12px;
    font-family: inherit;
    margin-top: 1px;
    line-height: 1.1;
    padding-left: 70px;
}


.dashboard-stats-item .stat-icon {
    position: absolute;
    top: 18px;
    font-size: 50px;
    opacity: .3;
}

.dashboard-stats i.fa.stats-icon {
    width: 50px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    height: 50px;
    border-radius: 10px;
}

.panel-default {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.panel-default > .panel-heading {
    color: #777;
    background-color: #fff;
    border-color: #e6e6e6;
    padding: 10px 10px;
}

.panel-default > .panel-body {
    padding: 10px;
    padding-bottom: 0px;
}

.panel-default > .panel-body ul {
    overflow: hidden;
    padding: 0;
    margin: 0px;
    margin-top: -5px;
}

.panel-default > .panel-body ul li {
	margin-top: 15px;
    line-height: 27px;
    list-style-type: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-default > .panel-body ul li .time {
    color: #a1a1a1;
    float: right;
    padding-right: 5px;
}



.modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.03);
}
.modal .modalbg{
	width: 53%;
	min-width: 320px;
	height: 320px;
    margin: 10% 0px 0px 20%;
	background: #fff;
	position: relative;
	display: none;
}
.modal .modalbg .head{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #427CEA;
}
.modal .modalbg .modalinfo{
	padding-left: 30px;
	border-bottom: 2px solid #ddd;
}
.modal .modalbg .modalinfo p{
	margin: 6px 0;
}
.modal .modalbg .modalinfo p sapn{
	color: #427CEA;
}
.modal .modalbg .form-inline{
	padding-left: 30px;
	padding-top: 5px;
}
.modal .modalbg .form-group{
	margin-bottom: 8px;
}
.modal .modalbg .form-group input[type='text']{
	width: 150px;
	height: 20px;
	padding: 0;
}
.modal .modalbg .form-group select{
	height: 20px;
}
.modal .modalbg #loginSelect{
	padding: 0;
	height: 20px;
	line-height: 20px;
	background: #427CEA;
	color: #fff;
	border: 0;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
}
.modal .modalbg .handlebtn{
	width: 100%;
	margin-top: 15px;
}
.modal .modalbg .handlebtn button{
	width: 100px;
	height: 25px;
	line-height: 25px;
	float: right;
	border: 0;
	border-radius: 5px;
}
.modal .modalbg .handlebtn #submitBtn{
	background: #427CEA;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal .modalbg .handlebtn #cancelBtn{
	background: #DBDBDB;
	color: #9B9B9B;
	margin-right: 30px;
	margin-left: 10px;
	 box-shadow: -2px 0 0 rgba(219,219,219, 0.08), /*左边阴影*/ 2px 0 0 rgba(219,219,219, 0.08), /*右部阴影*/ 0 7px 10px rgba(219,219,219, 0.2);
}
.modal .modalbg .selectbox{
	position: absolute;
	right: 0;
	bottom: -85px;
	width: 280px;
	height: 190px;
	padding: 10px;
	background: #fff;
	border: 1px solid #DBDBDB;
	display: none;
}
.modal .modalbg .selectbox p{
	text-align: center;
}
.modal .modalbg .selectbox .form-inline{
	padding-left: 0px;
}
.modal .modalbg .selectbox .form-group input[type="text"] {
    width: 160px;
    height: 20px;
    padding: 0px;
}
.modal .modalbg .selectbox .form-group button{
	height: 20px;
	line-height: 20px;
	float: right;
	border: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	background: #427CEA;
	font-size: 12px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal .modalbg .selectbox .form-group #selectboxSure{
	margin-left: 80px;
	width: 80px;
	border-radius: 3px;
}
.modal .modalbg .selectbox .form-group #selectboxCan{
	margin-left: 5px;
	width: 80px;
	border-radius: 3px;
	background: #DBDBDB;
}

.modal #auditFailedBg{
	width: 53%;
	min-width: 320px;
	height: 220px;
    margin: 10% 0px 0px 20%;
	background: #fff;
	display: none;
}
.modal #auditFailedBg .head{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #427CEA;
}
.modal #auditFailedBg textarea{
	width: 96%;
	margin:10px 2%;
}
.modal #auditFailedBg div{
	text-align: right;
}
.modal #auditFailedBg #auditSubmitbtn{
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #427CEA;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #auditFailedBg #auditCancelbtn{
	margin-right: 10px;
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #DBDBDB;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}

.modal #websit{
	width: 53%;
	min-width: 320px;
	height: 220px;
    margin: 10% 0px 0px 20%;
	background: #fff;
	display: none;
}
.modal #websit .head{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #427CEA;
}
.modal #websit .webkitbnlist{
	clear: both;
	text-align: right;
	text-align: -webkit-right;
	text-align: -moz-right;
	margin-top: 100px;
}
.modal #websit #websitSubmitbtn{
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #427CEA;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #websit #websitCancelbtn{
	margin-right: 10px;
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #DBDBDB;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #websit .form-inline{
	padding: 10px 30px;
	border-bottom: 2px solid #DBDBDB;
}
.modal #websit .form-inline .form-group input{
	height: 20px;
}
.modal #websit .form-inline .form-group button{
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	background: #427CEA;
	font-size: 12px;
	border-radius: 4px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #websit .websitlist{
	width: 96%;
	padding: 0 2%;
}
.modal #websit .websitlist li{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	color: #AEAEAE;
}
.modal #websit .websitlist li span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 2px solid #A0A0A0;
	border-radius: 100px;
}

.modal #userList{
	width: 53%;
	min-width: 320px;
	height: 220px;
    margin: 10% 0px 0px 20%;
	background: #fff;
	display: none;
}
.modal #userList .head{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #427CEA;
}
.modal #userList .userlistbtn{
	clear: both;
	text-align: right;
	text-align: -webkit-right;
	text-align: -moz-right;
	margin-top: 100px;
}
.modal #userList #userSubmitbtn{
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #427CEA;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #userList #userCancelbtn{
	margin-right: 10px;
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #DBDBDB;
	font-size: 12px;
	border-radius: 2px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #userList .form-inline{
	padding: 10px 30px;
	border-bottom: 2px solid #DBDBDB;
}
.modal #userList .form-inline .form-group input{
	height: 20px;
}
.modal #userList .form-inline .form-group button{
	height: 20px;
	line-height: 20px;
	border: 0;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	background: #427CEA;
	font-size: 12px;
	border-radius: 4px;
	color: #fff;
	 box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}
.modal #userList .websitlist{
	width: 96%;
	padding: 0 2%;
}
.modal #userList .userlistweb li{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	color: #AEAEAE;
}
.modal #userList .userlistweb li span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 2px solid #A0A0A0;
	border-radius: 100px;
}


.btn05{
	width: 70px;
	height: 23px;
	background-color: #427CEA;
	border: 0;
	color: #F0F4F7;
	border-radius: 5px;
	box-shadow: -2px 0 0 rgba(62,121,237, 0.08), /*左边阴影*/ 2px 0 0 rgba(62,121,237, 0.08), /*右部阴影*/ 0 7px 10px rgba(62,121,237, 0.2);
}