html{height: 100%;}
body.signin {
    height: auto;
    background-image:url(../img/login_background.png);
     background-size:3100px 1270px;
}
button{
	outline: none;
}

.signinpanel {
    width: 570px;
    margin: 12% auto 0 auto;
    background: #fff;
    border-radius: 5px;
}
.signinpanel header{
	padding: 10px 0px;
	text-align: center;
	color: #0568FF;
	font-size: 30px;
	font-weight: bold;
}
.signinpanel .form-horizontal{
	padding:20px 30px;
}
.signinpanel .form-horizontal input{
	height: 35px;
}
.signinpanel .form-horizontal .control-label{
	padding-top: 0;
}
.signinpanel .form-horizontal #loginBtn{
	width: 90%;
	margin: 20px 5%;
	line-height: 30px;
	background: #427CEA;
	border: 0;
	border-radius: 100px;
	color: #fff;
}
.signinpanel .form-group #Txtidcode{
	width: 210px;
	display: inline-block;
}
.signinpanel .form-group #idcode{
	display: inline-block;
}

@media screen and (max-width: 768px) {
    .signinpanel,
    .signuppanel {
        margin: 0 auto;
        width: 420px!important;
        padding: 20px;
    }
    .signinpanel form {
        margin-top: 20px;
    }
    .signup-footer {
        margin-bottom: 10px;
    }
    .signuppanel .form-control {
        margin-bottom: 10px;
    }
    .signup-footer .pull-left,
    .signup-footer .pull-right {
        float: none !important;
        text-align: center;
    }
    .signinpanel .signin-info ul {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .signinpanel,
    .signuppanel {
        margin:0 20px;
        width:auto;
    }
}
